.ninja_deps
*.o
*.json
*.log
*.pyc
*.so
build/*
deploy.egg-info/*
*.cmake
*.in
CMakeFiles/*
CMakeCache.txt
*.egg
Makefile
log_*.txt
*.pth
modelzoo/*
outputs/*
# 忽略第三方库cutlass的整个目录
third-party/cutlass/